---
title:
call_to_action: Contact
background_image_path:
large_header: true
testimonials:

_options:
  image:
    width: 60
    height: 60
---

<div class="editable">
	<p> <strong>Westlake Intelligence</strong> is a team that specializes in artificial intelligence, semiconductor, general and intelligent computing. Our goal is to provide insights and intelligence on these emerging technologies to clients and investors.</p>
</div>

<div class="testimonials">
	{% for testimonial in page.testimonials %}
		<blockquote class="testimonial">
			<p class="testimonial-message">{{ testimonial.message }}</p>
			<p class="testimonial-author"><img src="{% include relative-src.html src=testimonial.image %}" alt="Photo of {{ testimonial.name }}"> {{ testimonial.name }}</p>
		</blockquote>
	{% endfor %}
</div>
