---
title:
call_to_action: Contact
background_image_path:
large_header: true
testimonials:

_options:
  image:
    width: 60
    height: 60
---

<div class="editable">
	<p> <strong>Westlake Intelligence</strong> will be the leading provider of innovative and sustainable solutions in the energy and real estate markets in mainland China, delivering exceptional value and long-term success for our clients and partners while building a better society through improved living standards and optimized energy usage.</p>
</div>

<div class="testimonials">
	{% for testimonial in page.testimonials %}
		<blockquote class="testimonial">
			<p class="testimonial-message">{{ testimonial.message }}</p>
			<p class="testimonial-author"><img src="{% include relative-src.html src=testimonial.image %}" alt="Photo of {{ testimonial.name }}"> {{ testimonial.name }}</p>
		</blockquote>
	{% endfor %}
</div>
