---
title:
call_to_action: Contact
background_image_path:
large_header: true
testimonials:

_options:
  image:
    width: 60
    height: 60
---

<div class="editable">
	<p> <strong>Westlake Intelligence</strong> is a professional investment institution with a strong focus on both international and Chinese investment opportunities. The firm specializes in identifying and capitalizing on potential growth markets in China, leveraging its deep expertise and insights into the country’s dynamic economic landscape. <strong>Westlake Intelligence</strong> is committed to delivering value through strategic investments, with a keen emphasis on sectors that demonstrate high growth potential, ensuring that clients benefit from both emerging opportunities in China and established markets globally.</p>
</div>

<div class="testimonials">
	{% for testimonial in page.testimonials %}
		<blockquote class="testimonial">
			<p class="testimonial-message">{{ testimonial.message }}</p>
			<p class="testimonial-author"><img src="{% include relative-src.html src=testimonial.image %}" alt="Photo of {{ testimonial.name }}"> {{ testimonial.name }}</p>
		</blockquote>
	{% endfor %}
</div>
